{% extends 'cv/base.html' %}
{% load static %}

{% block content %}
    <div class="card mt-4 mb-4 shadow">
        <div class="card-body text-center">
            <h2 class="card-title">Passionné par la programmation, en particulier le langage PYTHON et son framework DJANGO.</h2>
            <p class="lead">Je mets mes compétences à votre service pour relever de nouveaux défis.</p>
            
            <img src="{{ personal_info.photo }}" alt="{{ personal_info.name }}" class="rounded-image mb-3">

            <p class="card-text">Email: {{ personal_info.email }}</p>
            <p>Pragmatique, optimiste et méthodique, j'apprécie particulièrement de travailler dans un environnement en évolution et de relever de nouveaux challenges.</p>
            <p class="card-text">{{ personal_info.summary }}</p>
            
            <div class="list-group list-group-horizontal justify-content-center d-flex align-items-center">
                <a href="{{ personal_info.cv_url }}" download="CV-Arthur-Seguret.pdf" target="_blank" class="list-group-item list-group-item-action" style="display: flex; align-items: center; justify-content: center; height: 60px; padding: 10px 15px;">Télécharger mon CV</a>
                <a href="https://www.linkedin.com/in/arthur-seguret-052bb5288/" target="_blank" class="list-group-item list-group-item-action" style="display: flex; align-items: center; justify-content: center; height: 60px;">
                    <img src="{% static 'cv/icone/linkedin.svg' %}" alt="LinkedIn" style="height: 70%; width: auto;" />
                </a>
                <a href="https://github.com/Laseguue" target="_blank" class="list-group-item list-group-item-action" style="display: flex; align-items: center; justify-content: center; height: 60px;">
                    <img src="{% static 'cv/icone/github.svg' %}" alt="GitHub" style="height: 70%; width: auto;" />
                </a>
            </div>
        </div>
    </div>
{% endblock %}