{% load static %}
{% load tz %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Mon CV{% endblock %}</title>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'cv/styles.css' %}">
    <link rel="icon" href="{% static 'cv/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="{% url 'home' %}" class="navbar-brand">Portfolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <nav>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">Qui suis-je ?</a></li>
                    <li class="nav-item"><a href="{% url 'experience' %}" class="nav-link">Mon parcours</a></li>
                    <li class="nav-item"><a href="{% url 'python_projects' %}" class="nav-link">Réalisations</a></li>
                    <li class="nav-item"><a href="{% url 'skills' %}" class="nav-link">Certifications</a></li>
                    <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="container mt-5">
        <section id="content" class="pb-5">
            {% block content %}{% endblock %}
        </section>
    </main>
    <footer class="bg-light text-center py-3">
        <p>&copy; {{ now.year }} Arthur SEGURET. Tous droits réservés.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
