{% extends 'cv/base.html' %}

{% block content %}
    <h2 class="mt-4 mb-4">Expériences</h2>
    <div class="row">
        {% for experience in experiences %}
            <div class="col-md-6 mb-4">
                <div class="card h-100 shadow">
                    <a href="{% url 'experience_detail' experience_id=experience.id %}" class="text-decoration-none text-dark">
                        <div class="card-body">
                            <h3 class="card-title">{{ experience.position }} {{ experience.company }}</h3>
                            <p class="card-text">{{ experience.start_date }} - {{ experience.end_date }}</p>
                            <p class="card-text">{{ experience.tasks }}</p>
                            {% if experience.diplome_image %}
                                <img src="{{ experience.diplome_image }}" alt="{{ experience.position }}" class="img-fluid mt-3">
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
